<nav class="sidebar">
    <ul class="side-nav">
        <li class="<%= active === 'Home' ? 'side-nav__item--active' : 'side-nav__item'%>">
            <a href="/" class="side-nav__link">
                <i class="side-nav__icon icon__home color--white"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="<%= active === 'Cadastro' ? 'side-nav__item--active' : 'side-nav__item'%>">
            <a href="/cadastrar_agenda" class="side-nav__link">
                <i class="side-nav__icon icon__user-add color--white"></i>
                <span>Cadastrar</span>
            </a>
        </li>
        <li class="<%= active === 'Agendas' ? 'side-nav__item--active' : 'side-nav__item'%>">
            <a href="/lista?page=1&limit=5" class="side-nav__link">
                <i class="side-nav__icon icon__user-list color--white"></i>
                <span>Todas agendas</span>
            </a>
        </li>
        <li class="<%= active === 'Sessão do Dia' ? 'side-nav__item--active' : 'side-nav__item'%>">
            <a href="#" class="side-nav__link">
                <i class="side-nav__icon icon__calendar-today color--white"></i>
                <span>Sessões do dia</span>
            </a>
        </li>
        <li class="<%= active === 'Notificar' ? 'side-nav__item--active' : 'side-nav__item'%>">
            <a href="#" class="side-nav__link">
                <i class="side-nav__icon icon__notifications color--white"></i>
                <span>Notificar</span>
            </a>
        </li>
        <li class="side-nav__item">
            <a href="/logout" class="side-nav__link">
                <i class="side-nav__icon icon__logout color--white"></i>
                <span>Sair</span>
            </a>
        </li>
    </ul>

    <div class="legal">
        &copy; 2022 por Fernando Andrade. Todos direitos reservados.
    </div>
</nav>