<!DOCTYPE html>
<html lang="pt-br">
<head>
	<%- include('../partials/head', {title: 'Agenda Cadastrada'}); %>
</head>

<body>
	<div class="container">
		<%- include('../partials/header'); %>
		<div class="main">
			<%- include('../partials/sidebar', {active: 'Cadastro'}); %>
			<div class="content">
				<div class="user-profile">
					<div class="user-profile__information">
						<h2><%= requisition.name %></h2>
						<hr/>
						<p><strong>	Telefone: <%= requisition.phone %></strong></p>
						<hr>
					</div>	
				</div>
			</div>
		</div>
	</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>